{% extends 'base.html' %}
{%block content %}


<h1> Set Upper Limit Price</h1>
<br/>

<form action = "{% url 'add_upperlimit'%}" class="d-flex" method = "POST">
        {% csrf_token %}
        <input class="form-control me-2" type="search" placeholder="Set Upper Limit Price" aria-label="Search" name="lowprice">
        <button class="btn btn-outline-dark" type="submit"><strong>Save</strong></button>
      </form>

<br/>

<table class="table caption-top table-dark table-striped table-hover">
	<thead>
		<tr>
			<th scope="col">Company Name</th>
			<th scope="col">Upper Price Limit</th>
		</tr>
	 </thead>

	{% for item in ticker %}
		{%  for high_price in highprice %}
			<tbody>
				<tr>
					<th scope="row">{{ item }}</th>
					<td>{{ high_price }}</td>
				</tr>
			</tbody>
		{% endfor %}
	{% endfor %}
	</table>


{% endblock %}