{% extends 'base.html' %}
{%block content %}

<h1> Ticker Settings</h1>
<br/><br/>

{% if ticker %}
	<table class="table caption-top table-dark table-striped table-hover">
		<thead>
			<tr>
		    	<th scope="col">Company Name</th>
				<th scope="col">Delete Option</th>
				<th scope="col">Lower Limit Price</th>
				<th scope="col">Upper Limit Price</th>
		    </tr>
		 </thead>
	{% for item in ticker %}
		<tbody>
			<tr>
		    	<th scope="row">{{ item }}</th>
				<td><a href="{% url 'delete' item.id %}">Delete Stock</a></td>
				<td><a href="{% url 'add_lowerlimit' %}">Set Low Price</a></td>
				<td><a href="{% url 'add_upperlimit' %}">Set High Price</a></td>
		    </tr>
		</tbody>
	{% endfor %}
	</table>
{% else %}
	In Amanda's Portfolio doesn't have any stocks!
{% endif%}

{% endblock %}